<h1>
    Login
</h1>
<% if (messages.error) {%>
    <%=messages.error %>
        <% }%>

            <form action="/login" method="POST">
                <label>Email<input name="email" type="text" /></label><br><br>
                <label>Password<input name="password" type="password" /></label><br><br>

                <button type="submit" name="submit">Login</button>
                <a href="/register">Register</a>
            </form>